apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: surya162/oyo-backend:v2
          ports:
            - containerPort: 4000
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          env:
            - name: MONGO_URI
              value: "mongodb://mongo-0.mongo:27017/oyodoorservices"
            - name: PORT
              value: "4000"
            # Add other env vars here if needed, or use a ConfigMap/Secret
            - name: CLOUD_NAME
              value: "dsighkawi"
            - name: CLOUD_API_KEY
              value: "177892933365935"
            - name: CLOUD_API_SECRET
              value: "TmSob1xP_LqIvxdvKu1wP0eFQxI"
            - name: COMPANY_PASS
              value: "ytefklenqpvoggqh"
            - name: COMPANY_EMAIL
              value: "oyodoorservices@gmail.com"
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 4000
      targetPort: 4000
  type: ClusterIP
